.logo-img{
  width: 40px;
  height: 40px;

  @include pc{
    width: 53px;
    height: auto;
  }
}

.search{
  height: 39px;

  @include pc{
    height: 55px;
  }

  input{
    width: 207px;

    @include pc {
      width: 335px;
    }
  }
}

.z-4{
  z-index: 4;
}