.page-link{
    background-color: #f3f1e5;
    width: 40px;
    height: 40px;
    border: 1px solid #030303;
}

.page-link:hover{
    background-color: #030303;
    color: #FBFF22;
}

.page-link:focus{
    background-color: #030303;
    color: #FBFF22;
}